@model Travel.Models.Siniflar.iletisim

@{
    ViewBag.Title = "IletisimGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
@Html.LabelFor(x => x.ID)
@Html.TextBoxFor(x => x.ID, new { @class = "form-control", @readonly = "readonly" })
<br />
@Html.LabelFor(x => x.AdSoyad)
@Html.TextBoxFor(x => x.AdSoyad, new { @class = "form-control", @readonly = "readonly" })
<br />
@Html.LabelFor(x => x.Mail)
@Html.TextBoxFor(x => x.Mail, new { @class = "form-control", @readonly = "readonly" })
<br />
@Html.LabelFor(x => x.Konu)
@Html.TextBoxFor(x => x.Konu, new { @class = "form-control", @readonly = "readonly" })
<br />
@Html.LabelFor(x => x.Mesaj)
@Html.TextAreaFor(x => x.Mesaj, 15, 1, new { @class = "form-control", @readonly = "readonly" })
<br />
<button class="btn btn-primary">Yorum Güncelle</button>





